/****************/
/* General Tags */
/****************/

body {
    font-family:serif;
    margin:1em;
    background:#e6eefe;
    max-width:100%;
}
a {
    color:blue;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}


#controls h2 {
    display:none;
}
#controls ul{
    position:absolute;
    top:0;
    right:0;
    padding:0.2em;
    margin:0;
    list-style:none;
    width:6em;
    overflow-x:scroll;
    transition:width 100ms;
    -webkit-transition:width 100ms; /* Safari */
}
#controls ul:hover {
    width:11em !important;
}
#controls ul::-webkit-scrollbar { 
    display: none; 
}    
#controls li{
    display:block;
    padding-left:5.5em;
    padding-right:0.5em;
    width:5em;
    margin:0.5em 0;
}
#controls a {
    padding:0.5em;
    margin:0;
    border:1px solid white;
    display:block;
    text-align:center;
    text-decoration:none;
    background:#e6eefe;
}
#controls a:hover {
    background:#f2f6fe;
}

/* 
#controls {
    padding:0.5em;
    position:fixed;
    top:0;
    right:0;
    line-height:2em;
    background:#e6eefe;
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
    text-align:right;
}
#controls h2 {
    display:none;
}
#controls ul {
    padding:0;
    margin:0;
    list-style:none;
}
#controls:hover ul {
    display:block !important;
}
#controls li {
    padding:0;
    margin:0;
}
#controls a {
    padding:0 1em;
    margin:0;
    border:1px solid transparent;
    display:block;
}
*/
/* 
#controls a:hover {
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    text-decoration:none;
}
*/







ul.buttons {
    padding-left:0;
}
ul.buttons > li {
    list-style:none;
    display:inline;
    margin:0;
    
}
ul.buttons > li > a ,
ul.buttons > li > span {
    display:inline-block;
    line-height:3em;
    width:3em;
    text-align:center;
    text-decoration:none;
    color:blue;
    border:1px solid white;
    margin:2px 0;
}
ul.buttons > li > span {
    background:#cdddfd;
}
ul.buttons > li > a:hover {
    background:#f2f6fe;
}




.fact-blocks {
    display:inline-block;
    margin:0em;
}
.fact-blocks table {
    background:#CCCCCC;
    width:8em;
}
.fact-blocks table * {
    background:white;
}
.fact-blocks table th,td {
    padding:5px 10px;
    text-align:center;
}
.fact-blocks table th {
    background:#EEEEEE;
}
.fact-blocks table td {
    background:transparent;
}
.fact-blocks table td * {
    background:transparent
}
.fact-blocks table td.operation {
    width:67%;
}
.fact-blocks table td.result {
    width:33%;
}
.fact-blocks table input[type="text"] {
    border:0;
    text-align:center;
    background:transparent
}
.fact-blocks table tr:hover {
    background:#FFFFCC;
}





.fact-table {
    background-color:white;
    border-spacing:0;
    border-top:1px solid black;
    border-left:1px solid black;
}
.fact-table th,
.fact-table td {
    padding:0;
    width:2.5em;
    line-height:2.5em;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.fact-table th {
    background-color:#eee;
}
.fact-table td {
    background-color:transparent;
}
.fact-table td * {
    background-color:transparent;
}
.fact-table td:hover {
    background-color:yellow;
    cursor:pointer;
}
.fact-table .clicked {
    background-color:yellow;
}
.fact-table .clickline {
    background-color:#ffc;
}
.fact-table .hover {}




.flashcard {
    width:12em;
    margin:1em auto;
    text-align:center;
}
.flashcard .card {
    border:1px solid blue;
    background:#f2f6fe;
    padding:1em;
}
.flashcard .expression {
    display:inline-block;
    margin:0 auto;
    padding:0 1em;
}
.flashcard .term1 ,
.flashcard .operation ,
.flashcard .term2 ,
.flashcard .equals {
    display:block;
    text-align:center;
    line-height:1.5em;
}
.flashcard .term1 ,
.flashcard .term2 {
    font-weight:bold;
}
/* .flashcard .argument {} */
/* .flashcard .function {} */
/* .flashcard .equals { display: none; } */
.flashcard .answer {
    display:block;
    width:6em;
    line-height:2em;
    margin:0.5em auto;
    border:1px solid blue;
    background:#f2f6fe;
}
.flashcard .answer input {
    width:100%;
    font-family:serif;
    font-size:100%;
    text-align:center;
    outline:none;
    background:none;
    border:0;
}
.flashcard button {
    display:block;
    line-height:2em;
    text-align:center;
    width:5em;
    margin:1em auto 0;
}
.flashcard .feedback {
    width:10em;
    margin:1em auto;
    line-height:1.5em;
    text-align:center;
}
.flashcard .card.correct,
.flashcard .card.correct .answer {
    border:1px solid green;
    background:#d3efd3;
}
.flashcard .card.incorrect,
.flashcard .card.incorrect .answer {
    border:1px solid orange;
    background:#ffedcc;
}

/*****************/
/* Special media */
/*****************/

@media screen and (min-width:960px) {
/* TABLET or SCREEN */
}
