/****************/
/* General Tags */
/****************/

body {
    font-family:serif;
    margin:1em;
    max-width:100%;
    background:#e6eefe;
}

a {
    color:blue;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

input[type=number]::-webkit-inner-spin-button ,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.warning {
    padding:0.5em;
    border:1px dotted red;
    background:#fdd;
    color:red;
    font-style:italic;
    cursor:pointer;
}

.horizontal_list { padding-left:0; }
.horizontal_list li { display:inline; }
.horizontal_list li:after { content:" | "; }
.horizontal_list li:last-child:after { content: ''; }



#controls h2 {
    display:none;
}
#controls ul {
    position:absolute;
    top:0;
    right:0;
    padding:0.2em;
    margin:0;
    list-style:none;
    width:6em;
    overflow-x:scroll;
    transition:width 100ms;
    -webkit-transition:width 100ms; /* Safari */
}
#controls ul:hover {
    width:11em !important;
}
#controls ul::-webkit-scrollbar {
    display: none;
}
#controls li {
    display:block;
    padding-left:5.5em;
    padding-right:0.5em;
    width:5em;
    margin:0.5em 0;
}
#controls a {
    padding:0.5em;
    margin:0;
    border:1px solid white;
    display:block;
    text-align:center;
    text-decoration:none;
    background:#e6eefe;
}
#controls a:hover {
    background:#f2f6fe;
}

/*
#controls {
    padding:0.5em;
    position:fixed;
    top:0;
    right:0;
    line-height:2em;
    background:#e6eefe;
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
    text-align:right;
}
#controls h2 {
    display:none;
}
#controls ul {
    padding:0;
    margin:0;
    list-style:none;
}
#controls:hover ul {
    display:block !important;
}
#controls li {
    padding:0;
    margin:0;
}
#controls a {
    padding:0 1em;
    margin:0;
    border:1px solid transparent;
    display:block;
}
*/
/*
#controls a:hover {
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    text-decoration:none;
}
*/







ul.buttons {
    padding-left:0;
}
ul.buttons > li {
    list-style:none;
    display:inline;
    margin:0;

}
ul.buttons > li > a ,
ul.buttons > li > span {
    display:inline-block;
    line-height:3em;
    width:3em;
    text-align:center;
    text-decoration:none;
    color:blue;
    background:#e6eeef;
    border:1px solid white;
    margin:2px 0;
}
ul.buttons > li > span {
    background:#cdddfd;
}
ul.buttons > li > a:hover {
    background:#f2f6fe;
}




.fact-block {
    display:inline-block;
    margin:0em;
}
.fact-block table {
    background:#CCCCCC;
    width:8em;
}
.fact-block table * {
    background:white;
}
.fact-block table th,td {
    padding:5px 10px;
    text-align:center;
}
.fact-block table th {
    background:#EEEEEE;
}
.fact-block table td {
    background:transparent;
}
.fact-block table td * {
    background:transparent
}
.fact-block table td.expression {
    width:67%;
}
.fact-block table td.answer {
    width:33%;
}
.fact-block table input[type="text"] {
    border:0;
    text-align:center;
    background:transparent
}
.fact-block table tr:hover {
    background:#FFFFCC;
}





.fact-table {
    background-color:white;
    border-spacing:0;
    border-top:1px solid black;
    border-left:1px solid black;
}
.fact-table th,
.fact-table td {
    padding:0;
    width:2.5em;
    line-height:2.5em;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.fact-table th {
    background-color:#eee;
}
.fact-table td {
    background-color:transparent;
}
.fact-table td * {
    background-color:transparent;
}
.fact-table td:hover {
    background-color:yellow;
    cursor:pointer;
}
.fact-table .clicked {
    background-color:yellow;
}
.fact-table .clickline {
    background-color:#ffc;
}
.fact-table .hover {}




.flashcard {
    width:18em;
    margin:1em auto;
    padding:1em;
    border:1px solid #f2f6fe;
    background:#f2f6fe;
    text-align:center;
}
.flashcard .card {
    width:10em;
    margin:1em auto;
    border:1px solid blue;
    background:#f2f6fe;
    padding:1em;
}
.flashcard .expression {
    display:inline-block;
    margin:0 auto;
    padding:0 1em;
}
.flashcard .term1 ,
.flashcard .operation ,
.flashcard .term2 ,
.flashcard .equals {
    display:block;
    text-align:center;
    line-height:1.5em;
}
.flashcard .term1 ,
.flashcard .term2 ,
.flashcard .proposal ,
.flashcard .proposal * {
    font-weight:bold;
}
.flashcard .proposal {
    display:block;
    width:6em;
    line-height:2em;
    margin:0.5em auto;
    border:1px solid blue;
    background:#f2f6fe;
}
.flashcard .proposal input {
    width:100%;
    font-family:serif;
    font-size:100%;
    text-align:center;
    outline:none;
    background:none;
    border:0;
}
.flashcard button {
    display:block;
    line-height:2em;
    text-align:center;
    width:5em;
    margin:1em auto 0;
}
.flashcard .feedback {
    width:10em;
    margin:1em auto;
    line-height:1.5em;
    text-align:center;
}
.flashcard .card.correct,
.flashcard .card.correct .proposal {
    border:1px solid green;
    background:#d3efd3;
}
.flashcard .card.incorrect,
.flashcard .card.incorrect .proposal {
    border:1px solid orange;
    background:#ffedcc;
}

/* Comment the following to present in vertical form */
/* */
.flashcard {
    width:18em;
    height:26em;
    background:#f2f6fe;
    border:1px solid #f2f6fe;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; /* future proofing */
    padding:1em;
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.flashcard .card {
    padding:2em 1em;
    border:1px solid #83abfa;
}
.flashcard .operation {
    display:inline;
    margin:0 5px;
}
.flashcard .term1 ,
.flashcard .term2 {
    display:inline;
    text-align:right;

    display:inline-block;
    line-height:2em;
    width:1.5em;
    margin:2px 0;
    text-align:center;
}
.flashcard .equals {
    display:none;
}
.flashcard .proposal {
    margin:1em auto;
    background:white;
    border:1px solid #83abfa;
}
.flashcard button {
    margin-top:2em;
}
/* */





ul.flashcard-list {
    list-style:none;
    padding-left:1em;
}
ul.flashcard-list > li > span {
    display:inline-block;
    line-height:1em;
    width:1em;
    margin:2px 0;
    text-align:right;
}
ul.flashcard-list > li > span.equals ,
ul.flashcard-list > li > span.answer {
    width:2em;
}






/*****************/
/* Special media */
/*****************/

@media screen and (min-width:960px) {
/* TABLET or SCREEN */
}
