/****************/
/* General Tags */
/****************/

body {
    font-family:serif;
    margin:1em;
    max-width:100%;
    background:#e6eefe;
    background:#f9f4d6;
}

a {
    color:blue;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

input[type=number]::-webkit-inner-spin-button ,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.warning {
    padding:0.5em;
    border:1px dotted red;
    background:#fdd;
    color:red;
    font-style:italic;
    cursor:pointer;
}

.horizontal-list { padding-left:0; }
.horizontal-list li { display:inline; }
.horizontal-list li:after { content:" | "; }
.horizontal-list li:last-child:after { content: ''; }



/* I was using #controls ul::-webkit-scrollbar { display: none;} */
/* to hide the scrollbar on my controls, but this doesn't work in ie8 */
/* inspired by http://stackoverflow.com/questions/16670931/hide-scroll-bar-but-still-being-able-to-scroll */
/* i found the following cross-browser solution. The only disadvantage is */
/* that i must specify a height for the controls parent */
#controls { 
    position:absolute;
    top:0;
    right:0;
    overflow:hidden; /* required to hide that scrollbar (see below) */
    height:4em; /* must specify a height to make this work (unfortunately) */   
}
#controls h2 {
    display:none;
}
#controls ul {
    padding:0.2em;
    margin:0;
    list-style:none;
    width:6em;
    overflow-x:scroll; /* enable scroll for touch */
    overflow-y:hidden; /* but only horizontal scroll */
    height:100%; /* this will push the scrollbar to the bottom the controls */
    padding-bottom: 15px; /* and this will push it just a bit more out of sight */
    transition:width 100ms;
    -webkit-transition:width 100ms; /* Safari */
}
#controls ul:hover {
    width:11em !important;
}
#controls ul::-webkit-scrollbar { display: none; }
#controls li {
    display:block;
    padding-left:5.5em;
    padding-right:0.5em;
    width:5em;
    margin:0.5em 0;
}
#controls a {
    padding:0.5em;
    margin:0;
    border:1px solid #83abfa;
    display:block;
    text-align:center;
    text-decoration:none;
    background:#e6eefe;
}
#controls a:hover {
    background:#cdddfd;
}



ul.buttons {
    padding-left:0;
}
ul.buttons > li {
    list-style:none;
    display:inline;
    margin:0;

}
ul.buttons > li > a ,
ul.buttons > li > span {
    display:inline-block;
    line-height:3em;
    width:3em;
    text-align:center;
    text-decoration:none;
    color:blue;
    background:#e6eefe;
    border:1px solid #83abfa;
    margin:2px 0;
}
ul.buttons > li > span {
    background:#cdddfd;
}
ul.buttons > li > a:hover {
    background:#cdddfd;
}




.flashcard {
    width:18em;
    height:26em;
    background:white;
    border:1px solid #f2f6fe;
    padding:1em;
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
}
.flashcard .card {
    width:10em;
    margin:1em auto;
    padding:2em 1em;
    background:#f2f6fe;
    border:1px solid #83abfa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
}
.flashcard .expression {
    display:inline-block;
    margin:0 auto;
    padding:0 1em;
}
.flashcard .term1 ,
.flashcard .term2 {
    display:inline-block;
    margin:2px 0;
    width:2em;
    line-height:2em;
    text-align:center;
}
.flashcard .operation {
    display:inline;
    margin:0 5px;
    line-height:1.5em;
    text-align:center;
}
.flashcard .equals {
    display:none;
}
.flashcard .term1 ,
.flashcard .term2 ,
.flashcard .attempt ,
.flashcard .attempt * {
    font-weight:bold;
}
.flashcard .attempt {
    display:block;
    width:6em;
    line-height:2em;
    margin:1em auto;
    background:white;
    border:1px solid #83abfa;
}
.flashcard .attempt input {
    width:100%;
    font-family:serif;
    font-size:100%;
    text-align:center;
    outline:none;
    background:none;
    border:0;
}
.flashcard button {
    display:block;
    line-height:2em;
    text-align:center;
    width:5em;
    margin:2em auto 0;
}
.flashcard .feedback {
    width:14em;
    margin:1em auto;
    line-height:1.5em;
    text-align:center;
}

.flashcard.loggedin .card {
    background:#cdddfd;
    border:1px solid blue;
}
.flashcard.loggedin .attempt {
    border:1px solid blue;
}

.flashcard .card.correct,
.flashcard .card.correct .attempt {
    border:1px solid green;
    background:#d3efd3;
}
.flashcard .card.incorrect,
.flashcard .card.incorrect .attempt {
    border:1px solid orange;
    background:#ffedcc;
}






ul.flashcard-list {
    list-style:none;
    padding-left:1em;
}
ul.flashcard-list > li > span {
    display:inline-block;
    line-height:1em;
    width:1em;
    margin:2px 0;
    text-align:right;
}
ul.flashcard-list > li > span.equals ,
ul.flashcard-list > li > span.answer {
    width:2em;
}



.fact-block {
    display:inline-block;
    margin:0em;
}
.fact-block table {
    background:#CCCCCC;
    width:8em;
}
.fact-block table * {
    background:white;
}
.fact-block table th,td {
    padding:5px 10px;
    text-align:center;
}
.fact-block table th {
    background:#EEEEEE;
}
.fact-block table td {
    background:transparent;
}
.fact-block table td * {
    background:transparent
}
.fact-block table td.expression {
    width:67%;
}
.fact-block table td.answer {
    width:33%;
}
.fact-block table input[type="text"] {
    border:0;
    text-align:center;
    background:transparent
}
.fact-block table tr:hover {
    background:#e6eefe;
}





.fact-table {
    background-color:white;
    border-spacing:0;
    border-top:1px solid black;
    border-left:1px solid black;
}
.fact-table th,
.fact-table td {
    padding:0;
    width:2.5em;
    line-height:2.5em;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.fact-table th {
    background-color:#eee;
}
.fact-table td {
    background-color:transparent;
}
.fact-table td * {
    background-color:transparent;
}
.fact-table td:hover {
    background-color:#cdddfd;
    cursor:pointer;
}
.fact-table .clicked {
    background-color:#cdddfd;
}
.fact-table .clickline {
    background-color:#e6eefe;
}
.fact-table .hover {}



dl.login dt {
    font-weight:bold;
}
dl.login dd {
    display:block;
    width:8em;
    line-height:2em;
    margin:1em auto;
    background:white;
    border:1px solid #83abfa;
}
dl.login dd input {
    width:100%;
    margin:0;
    font-family:serif;
    font-size:100%;
    text-align:center;
    outline:none;
    border:0;
}
dl.login dd input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}



/*****************/
/* Special media */
/*****************/

@media screen and (min-width:960px) {
/* TABLET or SCREEN */
}
