{% extends "math/base.html" %}

{% block main-content %}

<h2>Control Panel</h2>

<p><a href="{{ next }}">&laquo; Go back</a></p>

<p>Choose math fact magnitude:</p>
<ul class="buttons">
    {% for magnitude in magnitude_range %}
    {% if current_magnitude == magnitude %}
    <li><span>{{ magnitude }}</span></li>
    {% else %}
    <li><a href="{% url change_magnitude magnitude %}?next={{ next }}">{{ magnitude }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<p>Choose math fact operation:</p>
<ul class="buttons">
    {% for operation in operation_list %}
    {% if current_operation == operation %}
    <li><span>{{ operation.display }}</span></li>
    {% else %}
    <li><a href="{% url change_operation operation.name %}?next={{ next }}">{{ operation.display }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}
