{% extends "math/base.html" %}

{% block main-content %}
<p><a href="{{ next }}">&laquo; Go back</a></p>

<h2>Control Panel</h2>

<p>Choose math fact magnitude:</p>
<ul class="buttons">
    {% for magnitude in magnitude_range %}
    {% if current_magnitude == magnitude %}
    <li><span>{{ magnitude }}</span></li>
    {% else %}
    <li><a href="{% url change_magnitude magnitude %}?next={{ next }}">{{ magnitude }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<p>Choose math fact operation:</p>
<ul class="buttons">
    {% for operation in operation_list %}
    {% if current_operation.name == operation.name %}
    <li><span>{{ operation.symbol }}</span></li>
    {% else %}
    <li><a href="{% url change_operation operation.name %}?next={{ next }}">{{ operation.symbol }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<h2>Site Navigation</h2>
<ul>
    <li><a href="{% url show_flashcard %}">Flash Cards</a></li>
    <li><a href="{% url facts %}">Math Fact List</a></li>
    <li><a href="{% url table %}">Math Fact Table</a></li>
</ul>

{% endblock %}
