{% extends "math/base.html" %}

{% block extra-style %}
body {
    background:#f9f4d6 url({{ STATIC_URL }}background.jpg) center top no-repeat;
}
{% endblock %}

{% block main-content %}
<div class="flashcard">
    {% if form.errors %}
    <p style="color:red">Your username and password did not match.<br>Please try again.</p>
    {% else %}
    <h2>Login</h2>
    {% endif %}

    <form class="card" method="post" action="{% url django.contrib.auth.views.login %}">
        <dl class="login">
            <dt>Username</dt>
            <dd><input type="text" name="username" autocomplete="off" autofocus></dd>
            <dt>Password</dt>
            <dd><input type="password" name="password" autocomplete="off"></dd>
        </dl>
        <button name="submit">Submit</button>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>

</div>

{% endblock %}
