{% extends "math/base.html" %}

{% block main-content %}

<h2>Addition Facts (magnitude {{ magnitude }})</h2>
{% for fact in facts %}
<div class="fact-blocks">
    <table>
        <tr>
            <td class="operation">{{ fact.0 }} + {{ fact.1 }}</td>
            <td class="result">{{ fact.2 }}</td>
        </tr>
        <tr>
            <td class="operation">{{ fact.1 }} + {{ fact.0 }}</td>
            <td class="result">{{ fact.2 }}</td>
        </tr>
    </table>
</div>
{% endfor %}

{% include 'math/controls.html' %}
{% endblock %}
