{% extends "math/base.html" %}

{% block extra-style %}
body {
    background:#f9f4d6 url({{ STATIC_URL }}background.jpg) center top no-repeat;
}
{% endblock %}

{% block main-content %}

<div class="flashcard">
    <h2>Flashcards</h2>
    <form class="card" method="post" action="{% url post_flashcard %}">
        <span class="expression">
            <span class="argument">
                <span class="term1">{{ flashcard.term1 }}</span>
            </span>
            <span class="function">
                <span class="operation">{{ flashcard.operation }}</span>
                <span class="term2">{{ flashcard.term2 }}</span>
            </span>
        </span>
        <span class="equals">=</span>
        <span class="proposal">
            <input type="number" name="proposal" autocomplete="off" pattern="[0-9]*" autofocus>
        </span>
        <button name="submit">Try it</button>
        <input type="hidden" name="expression" value="{{ flashcard.term1 }}{{ flashcard.operation }}{{ flashcard.term2 }}">
        {% csrf_token %}
    </form>

    <div class="feedback">
        <p>&nbsp;</p>
        {% if nbr_attempts %}
        <p>So far, {{ nbr_correct }} out of {{ nbr_attempts }}.</p>
        {% else %}
        <p>&nbsp;</p>
        {% endif %}
        <ul class="horizontal-list">
            {% if nbr_attempts %}
            <li><a href="{% url reset_stats %}">Reset counter</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url math_logout %}">Logout</a></li>
            {% else %}
            <li><a href="{% url math_login %}?next={% url show_flashcard %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% include "math/controls.html" %}
{% endblock %}
