{% extends "math/base.html" %}

{% block main-content %}

<div class="flashcard">
    <h2>Flash Cards</h2>
    <form class="card" method="post" action="{% url post_flashcard %}">
        <span class="expression">
            <span class="argument">
                <span class="term1">{{ term1 }}</span>
            </span>
            <span class="function">
                <span class="operation">{{ operation }}</span>
                <span class="term2">{{ term2 }}</span>
            </span>
        </span>
        <span class="equals">=</span>
        <span class="answer">
            <input type="text" name="answer" autocomplete="off">
        </span>
        <button name="submit">Try it</button>
        {% csrf_token %}
    </form>

    <div class="feedback">
        <p>&nbsp;</p>
        {% if nbr_attempts %}
        <p>So far, {{ nbr_correct }} out of {{ nbr_attempts }}.</p>
        <p><a href="{% url reset_flashcard_stats %}">Reset counter</a></p>
        {% endif %}
    </div>
</div>

{% include 'math/controls.html' %}
{% endblock %}
