{% extends "math/base.html" %}

{% block main-content %}

<h2>Addition Facts (magnitude {{ magnitude }})</h2>
{% for fact in facts %}
<div class="fact-blocks">
    <table>
        <tr>
            <td class="operation">{{ fact.term1 }} {{ operation.display }} {{ fact.term2 }}</td>
            <td class="result">{{ fact.answer }}</td>
        </tr>
        <tr>
            <td class="operation">{{ fact.term2 }} {{ operation.display }} {{ fact.term1 }}</td>
            <td class="result">{{ fact.answer }}</td>
        </tr>
    </table>
</div>
{% endfor %}

{% include "math/controls.html" %}
{% endblock %}
