{% extends "math/base.html" %}

{% block main-content %}

<div class="flashcard">
    <h2>Flash Cards</h2>
    <form class="card" method="post" action="{% url post_flashcard %}">
        <span class="expression">
            <span class="argument">
                <span class="term1">{{ term1 }}</span>
            </span>
            <span class="function">
                <span class="operation">{{ operation.display }}</span>
                <span class="term2">{{ term2 }}</span>
            </span>
        </span>
        <span class="equals">=</span>
        <span class="proposal">
            <input type="number" name="proposal" autocomplete="off" pattern="[0-9]*" autofocus>
        </span>
        <button name="submit">Try it</button>
        <input type="hidden" name="expression" value="{{ term1 }} {{ operation.ascii }} {{ term2 }}">
        {% csrf_token %}
    </form>

    <div class="feedback">
        <p>&nbsp;</p>
        {% if nbr_attempts %}
        <p>So far, {{ nbr_correct }} out of {{ nbr_attempts }}.</p>
        <p><a href="{% url reset_stats %}">Reset stats</a></p>
        {% endif %}
    </div>
</div>

{% include "math/controls.html" %}
{% endblock %}
