{% extends "math/base.html" %}

{% block main-content %}

<div class="flashcard">
    <h2>Flash Cards</h2>
    <div class="card {% if success %}correct{% else %}incorrect{% endif %}">
        <span class="expression">
            <span class="argument">
                <span class="term1">{{ term1 }}</span>
            </span>
            <span class="function">
                <span class="operation">{{ operation }}</span>
                <span class="term2">{{ term2 }}</span>
            </span>
        </span>
        <span class="equals">=</span>
        <span class="answer">{{ answer }}</span>
        <button onclick="location.href='{% url show_flashcard %}'">Next</button>
    </div>

    <div class="feedback">
        {% if success %}
        <p>This is correct!</p>
        {% else %}
        <p>The answer is {{ solution }}.</p>
        {% endif %}
        <p>So far, {{ nbr_correct }} out of {{ nbr_attempts }}.</p>
        <p><a href="{% url reset_flashcard_stats %}">Reset counter</a></p>
    </div>
</div>

{% include 'math/controls.html' %}
{% endblock %}
