{% extends "math/base.html" %}

{% block extra-script %}
$(function() {
    $(".fact-table td").click(function() {
        if ( $(this).hasClass("clicked") ) {
            $("td").removeClass("clicked");
            $("tr").removeClass("clickline");
            $("col").removeClass("clickline");
        } else {
            $("td").removeClass("clicked");
            $("tr").removeClass("clickline");
            $("col").removeClass("clickline");
            $(this).toggleClass("clicked");
            $(this).parent().toggleClass("clickline");
            $("col").eq($(this).index()).toggleClass("clickline");
        }
    });
    $(".fact-table").delegate('td','mouseover mouseleave', function(e) {
        if (e.type == 'mouseover') {
            $(this).parent().addClass("hover");
            $("col").eq($(this).index()).addClass("hover");
        }
        else {
            $(this).parent().removeClass("hover");
            $("col").eq($(this).index()).removeClass("hover");
        }
    });
});
{% endblock %}

{% block main-content %}

<h2>{{ table_operation.name|title }} Table (magnitude {{ magnitude }})</h2>
<table class="fact-table">
    <colgroup>
        <col>
        {% for term in table.headers %}
        <col>
        {% endfor %}
    </colgroup>

    <tr>
        <th>{{ table.corner }}</th>
        {% for term in table.headers %}
        <th>{{ term }}</th>
        {% endfor %}
    </tr>

    {% for row in table.rows %}
    <tr>
        <th>{{ row.term }}</th>
        {% for fact in row.facts %}
        <td>{{ fact }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% include "math/controls.html" %}
{% endblock %}
